<div class="row">
    <div class="col-md-12">
        <h3>Completar la fase de validación calidad</h3>
        <form class="forms-sample">
            <blockquote  class="blockquote blockquote-primary">
                <h4>Documento pruebas:<small>Ninguno</small></h4>
                <div style="position:relative; overflow: hidden; width: 122px; height: 34px;">
                    <button type="submit" class="btn btn-success mr-2">Subir fichero</button>
                    <input type="file" style="position: absolute; top:0px; left: 0px; width: 600px; height: 600px; opacity: 0; cursor: pointer;">
                </div>
                <hr>
                <h4>Documento mantis:<small>Ninguno</small></h4>
                <div style="position:relative; overflow: hidden; width: 122px; height: 34px;">
                    <button type="submit" class="btn btn-success mr-2">Subir fichero</button>
                    <input type="file" style="position: absolute; top:0px; left: 0px; width: 600px; height: 600px; opacity: 0; cursor: pointer;">
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2">
                        <label>Test validado</label>
                        <select class="form-control">
                            <option>SI</option>
                            <option>NO</option>
                        </select>
                    </div>
                </div>
                <hr>                
                <div class="form-group">
                    <label>Fecha prevista entrega primera unidad</label>
                    <input class="form-control" id="fecha" name="fecha" placeholder="DD/MM/YYYY" type="text"/>
                </div>
            </blockquote>
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <button type="submit" class="btn btn-success mr-2" style="width: 25%">Avanzar fase</button>                
                </div>
            </div>
        </form>

    </div>
</div>



