<div class="row">
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-warning text-white">
        <a class="nav-link"  [routerLink]="['/pages','createproject']">
          <div class="card-body">
            <br><br>
            <h2 class="font-weight-normal mb-5" style="text-align: center; color:white">Nuevo proyecto</h2>
          </div>
        </a>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info text-white">
          <a class="nav-link" [routerLink]="[ '/pages', 'listprojects' ]">
            <div class="card-body">
              <br><br>
              <h2 class="font-weight-normal mb-5" style="text-align: center; color:white">Listado de proyectos</h2>
            </div>
          </a>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success text-white">
          <a class="nav-link" [routerLink]="[ '/pages', 'statistics' ]">
            <div class="card-body">
              <br><br>
              <h2 class="font-weight-normal mb-5" style="text-align: center; color:white">Estadísticas</h2>
            </div>
          </a>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Últimos cambios</h4>
              <div class="table-responsive ps ps--theme_default" data-ps-id="9a2a0c43-c99f-2a61-a172-adabe4c4851f">
                <table class="table">
                  <thead>
                    <tr>
                      <th>
                        Proyecto
                      </th>
                      <th>
                        Usuario
                      </th>
                      <th>
                        Información
                      </th>
                      <th>
                        Fecha
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let log of logsservice.logs">
                      <td>
                        {{log.proyecto.nombre}}
                      </td>
                      <td>
                        {{log.usuario.nombre}}
                      </td>
                      <td>
                        {{log.texto}}
                      </td>
                      <td>
                        {{log.fecha | fechaAFormato}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
            </div>
          </div>
        </div>
      </div>