
<div class="row">
    <div class="col-md-12">
        <h3>Completar la fase de planificación</h3>
        <form [formGroup]="formulario" class="forms-sample">
            <blockquote  class="blockquote blockquote-primary">
                <h4>Añadir fase</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Fase</label>
                            <input formControlName="fase" class="form-control" placeholder="Fase" type="text" [ngClass]="{'is-invalid': formulario.controls['fase'].errors}"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Fecha inicio</label>
                            <input formControlName="fechaInicio" class="form-control" id="fechaInicio" name="fechaInicio" placeholder="DD/MM/YYYY" type="text" [ngClass]="{'is-invalid': formulario.controls['fechaInicio'].errors}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Fecha fin</label>
                            <input formControlName="fechaFin" class="form-control" id="fechaFin" name="fechaFin" placeholder="DD/MM/YYYY" type="text" [ngClass]="{'is-invalid': formulario.controls['fechaFin'].errors}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <div class="form-group">
                            <button (click)="AnadirFase()   " class="btn btn-primary">Añadir fase</button>
                        </div>
                    </div>
                </div>

                <!-- Tabla de análisis y tiempos -->
                <div class="row margenSup">
                    <div class="col-md-12">
                        <div class="table-responsive ps ps--theme_default tableAnalisis" data-ps-id="9a2a0c43-c99f-2a61-a172-adabe4c4851f">
                            <table class="table">
                                <thead>
                                    <th>Fase</th>
                                    <th>Fecha inicio</th>
                                    <th>Fecha fin</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let fase of planificacion; let i=index"> 
                                        <td>{{fase.fase}}</td>
                                        <td>{{fase.fechaInicio}}</td>
                                        <td>{{fase.fechaFin}}</td>
                                        <td><button (click)="Eliminar(i)" type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-delete"></i> Eliminar</button></td>
                                    </tr>
                                </tbody>
                            </table>                        
                        </div>
                    </div>
                </div>
                <!-- END-Tabla de análisis y tiempos -->
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Fecha prevista entrega aprobación</label>
                            <input class="form-control" id="fecha" name="fecha" placeholder="DD/MM/YYYY" type="text"/>
                        </div>
                    </div>
                </div>

            </blockquote>
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <button type="submit" (click)="Avanzar()" [disabled]="(formulario2.status === 'INVALID') || (planificacion.length == 0)" class="btn btn-success mr-2" style="width: 25%">Avanzar fase</button>                
                </div>
            </div>
        </form>

    </div>
</div>

