<div *ngIf="proyectosservice.proyectoActual" class="row">
    <div class="col-md-12" style="text-align: center">
        <!-- Div Nombre projecto Col 11-12 -->
        <a (click)="cambiarNombre()"><h2 style="cursor: pointer;">{{proyectosservice.proyectoActual.proyecto.nombre}}</h2></a>

    </div>
</div>
<app-barra></app-barra>
<hr>
<div *ngIf="proyectosservice.proyectoActual" class="card">
    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal" [ngStyle]="{'display': ((modalservice.mostrarModal)?'block':'none')}">

    <!-- Modal content -->
    <div class="modal-content">
        <p>{{modalservice.textoModal}}</p>
    </div>

</div>