<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Crear proyecto</h3>
                <p class="card-description">
                    <!-- Rellene la información necesaria para la creación del proyecto -->
                </p>
                <form class="forms-sample" [formGroup]="formCrearProyecto">
                    <div class="form-group">
                        <label for="exampleInputName1">Nombre del proyecto</label>
                        <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="Nombre" [ngClass]="{'is-invalid': formCrearProyecto.controls['nombre'].errors}">
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">Descripción del proyecto</label>
                        <textarea class="form-control" formControlName="descripcion" id="descripcion" rows="2" placeholder="Descripción" [ngClass]="{'is-invalid': formCrearProyecto.controls['descripcion'].errors}"></textarea>
                    </div>
                    <!-- <div class="form-group">
                        <label for="exampleTextarea1">Jefe del proyecto</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="2" placeholder="Jefe del proyecto"></textarea>
                    </div> -->
                    <div class="form-group">
                        <label for="exampleFormControlSelect3">Jefe de proyecto</label>
                        <select class="form-control form-control-sm" formControlName="jefeProyecto" id="jefeProyecto" [ngClass]="{'is-invalid': formCrearProyecto.controls['jefeProyecto'].errors}">
                          
                          <option *ngFor="let usuario of usuarios" [value]="usuario._id">{{usuario.nombreCompleto}}</option>
                        </select>
                      </div>                    
                      <div class="form-group"> <!-- Date input -->
                        <label class="control-label" for="date">Fecha requerimientos</label>
                        <input class="form-control" formControlName="fechaPrevista" id="fechaPrevista" name="fechaPrevista" (change)="cambiado($event)" placeholder="DD/MM/YYYY" type="text" [ngClass]="{'is-invalid': formCrearProyecto.controls['fechaPrevista'].errors}">
                      </div>
         
                    </form>
                    <button [disabled]="formCrearProyecto.status === 'INVALID'" type="button" (click)="Guardar()" class="btn btn-success mr-2">Guardar</button>
                    <button class="btn btn-light" [routerLink]="['/pages']">Cancelar</button>
            </div>
        </div>
    </div>
    
</div>

