
<div class="row">
    <div class="col-md-12">
        <h3>Completar la fase de desarrollo</h3>
        <form class="forms-sample">
            <blockquote  class="blockquote blockquote-primary">
                <div class="row">
                    <div class="col-md-12">
                        <label>Descripción general</label>
                        <input class="form-control" placeholder="Descripción" type="text"/>
                    </div>
                </div>
                <hr>
                <h4>Añadir fase</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Descripción del bloque</label>
                            <input class="form-control" placeholder="Descripción" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ruta esquemático</label>
                            <input class="form-control" placeholder="Ruta" type="text"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ruta PCB</label>
                            <input class="form-control" placeholder="Ruta" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ruta componentes</label>
                            <input class="form-control" placeholder="Ruta" type="text"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ruta firmware</label>
                            <input class="form-control" placeholder="Ruta" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <div class="form-group">
                            <button class="btn btn-primary">Añadir fase</button>
                        </div>
                    </div>
                </div>

                <hr>
                <h4>Bloque A</h4>
                <!-- Tabla de análisis y tiempos -->
                <div class="row margenSup">
                    <div class="col-md-12">
                        <div class="table-responsive ps ps--theme_default tableAnalisis" data-ps-id="9a2a0c43-c99f-2a61-a172-adabe4c4851f">
                            <table class="table">
                                <thead>
                                    <th>Tipo</th>
                                    <th>ruta</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Esquemático</td>
                                        <td>C:\proyectos\Gestion\proyectos\ProyectosAdmin</td>
                                    </tr>
                                    <tr>
                                        <td>PCB</td>
                                        <td>C:\proyectos\Gestion\proyectos\ProyectosAdmin</td>
                                    </tr>
                                    <tr>
                                        <td>Componentes</td>
                                        <td>C:\proyectos\Gestion\proyectos\ProyectosAdmin</td>
                                    </tr>
                                    <tr>
                                        <td>Software</td>
                                        <td>C:\proyectos\Gestion\proyectos\ProyectosAdmin</td>
                                    </tr>
                                </tbody>
                            </table>                        
                        </div>
                    </div>
                </div>
                <hr>
                <h4>Bloque B</h4>
                <!-- Tabla de análisis y tiempos -->
                <div class="row margenSup">
                    <div class="col-md-12">
                        <div class="table-responsive ps ps--theme_default tableAnalisis" data-ps-id="9a2a0c43-c99f-2a61-a172-adabe4c4851f">
                            <table class="table">
                                <thead>
                                    <th>Tipo</th>
                                    <th>ruta</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Esquemático</td>
                                        <td>C:\proyectos\Gestion\proyectos\ProyectosAdmin</td>
                                    </tr>
                                    <tr>
                                        <td>PCB</td>
                                        <td>C:\proyectos\Gestion\proyectos\ProyectosAdmin</td>
                                    </tr>
                                    <tr>
                                        <td>Componentes</td>
                                        <td>C:\proyectos\Gestion\proyectos\ProyectosAdmin</td>
                                    </tr>
                                    <tr>
                                        <td>Software</td>
                                        <td>C:\proyectos\Gestion\proyectos\ProyectosAdmin</td>
                                    </tr>
                                </tbody>
                            </table>                        
                        </div>
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Fecha prevista entrega validación interna</label>
                            <input class="form-control" id="fecha" name="fecha" placeholder="DD/MM/YYYY" type="text"/>
                        </div>
                    </div>
                </div>

            </blockquote>
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <button type="submit" class="btn btn-success mr-2" style="width: 25%">Avanzar fase</button>                
                </div>
            </div>
        </form>

    </div>
</div>


