<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h4 class="card-title">Histórico de cambios</h4>
            <div class="card-body">
                <table class="table" style="text-align: center">
                    <thead>
                        <th>Fecha</th>
                        <th>Autor</th>
                        <th>Cambio</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let log of proyectosservice.proyectoActual.logs">
                            <td>{{log.fecha | fechaAFormato}}</td>
                            <td>{{log.usuario.nombre}}</td>
                            <td>{{log.texto}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>