<div class="row">
    <div class="col-md-12">
        <h3>Completar la fase de validación primera unidad</h3>
        <form class="forms-sample">
            <blockquote  class="blockquote blockquote-primary">
                <div class="row">
                    <div class="col-md-2">
                        <label>Validada</label>
                        <select class="form-control">
                            <option>SI</option>
                            <option>NO</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Comentarios</label>
                        <input class="form-control" placeholder="Motivo" type="text"/>                        
                    </div>
                </div> 
                <hr>
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <button class="btn btn-success mr-2" style="width: 50%">Avanzar</button>
                    </div>
                </div>
            </blockquote>
        </form>
    </div>
</div>

