
<div class="row">
    <div class="col-md-12">
        <h3>Completar la fase de Análisis</h3>
        <form class="forms-sample">
            <blockquote  class="blockquote blockquote-primary">
                <h4>Añadir fase</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Fase</label>
                            <input class="form-control" placeholder="Fase" type="text"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Recursos</label>
                            <input class="form-control" placeholder="Recursos" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tiempo</label>
                            <input class="form-control" placeholder="Tiempo" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <div class="form-group">
                            <button class="btn btn-primary">Añadir fase</button>
                        </div>
                    </div>
                </div>

                <!-- Tabla de análisis y tiempos -->
                <div class="row margenSup">
                    <div class="col-md-12">
                        <div class="table-responsive ps ps--theme_default tableAnalisis" data-ps-id="9a2a0c43-c99f-2a61-a172-adabe4c4851f">
                            <table class="table">
                                <thead>
                                    <th>Fase</th>
                                    <th>Recursos</th>
                                    <th>Tiempo</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Especificación</td>
                                        <td>2 I+D, 2 Jefatura, 1 Calidad</td>
                                        <td>1 mes</td>
                                        <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-delete"></i> Eliminar</button></td>
                                    </tr>
                                    <tr>
                                        <td>Desarrollo</td>
                                        <td>2 I+D</td>
                                        <td>2 meses</td>
                                        <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-delete"></i> Eliminar</button></td>
                                    </tr>
                                    <tr>
                                        <td>Validación</td>
                                        <td>1 Calidad</td>
                                        <td>1 mes</td>
                                        <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-delete"></i> Eliminar</button></td>
                                    </tr>
                                </tbody>
                            </table>                        
                        </div>
                    </div>
                </div>
                <!-- END-Tabla de análisis y tiempos -->
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Tiempo total</label>
                            <input class="form-control" placeholder="Tiempo" type="text"/>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Fecha prevista entrega aprobación</label>
                            <input class="form-control" id="fecha" name="fecha" placeholder="DD/MM/YYYY" type="text"/>
                        </div>
                    </div>
                </div>

            </blockquote>
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <button type="submit" class="btn btn-success mr-2" style="width: 25%">Avanzar fase</button>                
                </div>
            </div>
        </form>

    </div>
</div>

