
<div class="row">
    <div class="col-md-12">
        <h3>Completar la fase de recopilación de requerimientos</h3>
        <form class="forms-sample">
            <blockquote  class="blockquote blockquote-primary">
                <h4>Fichero seleccionado:<small *ngIf="ficheroSeleccionado">{{ficheroSeleccionado}}</small></h4>
                <div style="position:relative; overflow: hidden; width: 122px; height: 34px;">
                    <button type="submit" class="btn btn-success mr-2">Subir fichero</button>
                    <input type="file" (change)="selecDocum($event.target.files[0])" style="position: absolute; top:0px; left: 0px; width: 600px; height: 600px; opacity: 0; cursor: pointer;">
                </div>
                <hr>
                <div class="form-group">
                    <label>Fecha prevista entrega análisis</label>
                    <input class="form-control" id="fecha" name="fecha" placeholder="DD/MM/YYYY" type="text" [ngClass]="{'is-invalid': formulario.controls['fechaPrevista'].errors}"/>
                </div>
            </blockquote>
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <button [disabled]="(!ficheroSeleccionado) || formulario.controls['fechaPrevista'].errors" (click)="avanzarFase()" type="submit" class="btn btn-success mr-2" style="width: 25%">Avanzar fase</button>                
                </div>
            </div>
        </form>

    </div>
</div>
<!-- 

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">Completar requerimientos</h4>
        <form class="forms-sample">

        </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table" style="text-align: center">
            <thead>
                <th>Version</th>
                <th>Fecha</th>
                <th>Comentario</th>
            </thead>
            <tbody>
                <tr>
                    <td>1.0</td>
                    <td>14/10/19</td>
                    <td>Hemos ampliado los requrimientos</td>
                    <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-cloud-download"></i> Descargar</button></td>
                </tr>
                <tr>
                    <td>1.1</td>
                    <td>24/10/19</td>
                    <td>Porque sí</td>
                    <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-cloud-download"></i> Descargar</button></td>
                </tr>
                <tr>
                    <td>1.2</td>
                    <td>14/11/19</td>
                    <td>Otro cambio</td>
                    <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-cloud-download"></i> Descargar</button></td>
                </tr>
                <tr>
                    <td>1.3</td>
                    <td>24/11/19</td>
                    <td>Otra vez</td>
                    <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-cloud-download"></i> Descargar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
 -->
