

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h4 class="card-title">Documentos del proyecto</h4>
        <blockquote class="blockquote blockquote-primary">
            <div class="card-body">
                <table class="table" style="text-align: center">
                    <thead>
                        <th>Fase</th>
                        <th>Documento</th>
                        <th>Versión</th>
                        <th>Descarga</th>
                        <th>Nueva</th>
                        <th>Historial</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Requerimientos</td>
                            <td>Requerimietnos.doc</td>
                            <td>1.0</td>
                            <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-cloud-download"></i> Descargar</button></td>
                            <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-cloud-upload"></i> Nueva</button></td>
                            <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-history"></i> Historial</button></td>
                        </tr>
                        <tr>
                            <td>Especificaciones</td>
                            <td>Especificaciones.doc</td>
                            <td>1.0</td>
                            <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-cloud-download"></i> Descargar</button></td>
                            <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-cloud-upload"></i> Nueva</button></td>
                            <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-history"></i> Historial</button></td>
                        </tr>
                        <tr>
                            <td>Validación interna</td>
                            <td>MantisInt.pdf</td>
                            <td>1.0</td>
                            <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-cloud-download"></i> Descargar</button></td>
                            <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-cloud-upload"></i> Nueva</button></td>
                            <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-history"></i> Historial</button></td>
                        </tr>
                        <tr>
                            <td>Validación calidad</td>
                            <td>MatisCalidad.pdf</td>
                            <td>1.0</td>
                            <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-cloud-download"></i> Descargar</button></td>
                            <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-cloud-upload"></i> Nueva</button></td>
                            <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-history"></i> Historial</button></td>
                        </tr>
                        <tr>
                            <td>Diseño</td>
                            <td>SOO.doc</td>
                            <td>1.0</td>
                            <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-cloud-download"></i> Descargar</button></td>
                            <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-cloud-upload"></i> Nueva</button></td>
                            <td><button type="button" class="btn btn-primary btn-sm btn-rounded btn-fw"><i class="mdi mdi-history"></i> Historial</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </blockquote>
        </div>

    </div>
</div>
