<div class="row">
    <div class="col-md-12">
        <h3>Completar la fase de fabricación primera unidad</h3>
        <form [formGroup]="formulario" class="forms-sample">
            <blockquote  class="blockquote blockquote-primary">
                <div class="row">
                    <div class="col-md-2">
                        <label>Fabricada</label>
                        <select formControlName="primeraUnidad" [ngClass]="{'is-invalid': formulario.controls['primeraUnidad'].errors}" class="form-control">
                            <option>Si</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Comentarios</label>
                        <input formControlName="comentarios" [ngClass]="{'is-invalid': formulario.controls['comentarios'].errors}" class="form-control" placeholder="Motivo" type="text"/>                        
                    </div>
                </div>                
                <div class="row">
                    <div class="col-md-12">
                        <label>Fecha prevista entrega Validación primera unidad</label>
                        <input formControlName="fechaPrevista" [ngClass]="{'is-invalid': formulario.controls['fechaPrevista'].errors}" class="form-control" id="fecha" name="fecha" placeholder="DD/MM/YYYY" type="text"/>
                    </div>
                </div>
                <hr>    
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <button [disabled]="(formulario.status === 'INVALID')" (click)="Avanzar()" class="btn btn-success mr-2" style="width: 50%">Avanzar</button>
                    </div>
                </div>
            </blockquote>
        </form>
    </div>
</div>
