<div class="row">
    <div class="col-md-12">
        <h3>Completar la fase de validación interna</h3>
        <form [formGroup]="formulario" class="forms-sample">
            <blockquote  class="blockquote blockquote-primary">
                <h4>Documento pruebas:<small>{{ficPruebasSeleccionado}}</small></h4>
                <div style="position:relative; overflow: hidden; width: 122px; height: 34px;">
                    <button type="submit" class="btn btn-success mr-2">Subir fichero</button>
                    <input type="file" (change)="selecFicPruebas($event.target.files[0])" style="position: absolute; top:0px; left: 0px; width: 600px; height: 600px; opacity: 0; cursor: pointer;">
                </div>
                <hr>
                <h4>Documento mantis:<small>{{ficMantisSeleccionado}}</small></h4>
                <div style="position:relative; overflow: hidden; width: 122px; height: 34px;">
                    <button type="submit" class="btn btn-success mr-2">Subir fichero</button>
                    <input type="file" (change)="selecFicMantis($event.target.files[0])" style="position: absolute; top:0px; left: 0px; width: 600px; height: 600px; opacity: 0; cursor: pointer;">
                </div>
                <hr>
                <h4>Manual:<small>{{ficManualSeleccionado}}</small></h4>
                <div style="position:relative; overflow: hidden; width: 122px; height: 34px;">
                    <button type="submit" class="btn btn-success mr-2">Subir fichero</button>
                    <input type="file" (change)="selecFicManual($event.target.files[0])" style="position: absolute; top:0px; left: 0px; width: 600px; height: 600px; opacity: 0; cursor: pointer;">
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2">
                        <label>Test validado</label>
                        <select formControlName="testProbado" [ngClass]="{'is-invalid': formulario.controls['testProbado'].errors}" class="form-control">
                            <option>Si</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
                <hr>                
                <div class="form-group">
                    <label>Fecha prevista entrega validación calidad</label>
                    <input formControlName="fechaPrevista" [ngClass]="{'is-invalid': formulario.controls['fechaPrevista'].errors}" class="form-control" id="fecha" name="fecha" placeholder="DD/MM/YYYY" type="text"/>
                </div>
            </blockquote>
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <button [disabled]="(!ficPruebasSeleccionado) ||(!ficMantisSeleccionado) ||(!ficManualSeleccionado) || formulario.controls['fechaPrevista'].errors" (click)="avanzarFase()"  type="submit" class="btn btn-success mr-2" style="width: 25%">Avanzar fase</button>                
                </div>
            </div>
        </form>

    </div>
</div>


